body {
  margin: 0;
  padding: 0;

  font-family: "Courier New", Courier, monospace;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}


.container {
  width: 600px;
  margin: 0 auto;
}

header .title {
  font-weight: 900;
  font-size: 46px;
  text-align: center;
}

header .text {
  color: rgb(66, 66, 66);
}

.messages {
  margin: 45px 0;
}

.message {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 10px;

  background-color: rgb(193, 235, 251);
  border: 2px solid skyblue;
  border-radius: 10px;
}

.message__img {
  border-radius: 10px;
}

.message__username {
  margin: 0;
  margin-left: 30px;

  font-weight: 800;
  font-size: 20px;
}

.message__del {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 30px;
  height: 30px;

  background-color: #89cfeb;
  border: none;
  border-radius: 50%;
  transform: rotate(45deg);
  cursor: pointer;
}

.message__del::after {
  content: "";
  position: absolute;
  top: 5px;
  left: calc(50% - 2px);

  width: 4px;
  height: 20px;

  background-color: #57a1be;
  border-radius: 2px;
}

.message__del::before {
  content: "";
  position: absolute;
  top: 5px;
  left: calc(50% - 2px);

  width: 4px;
  height: 20px;

  background-color: rgb(87, 161, 190);
  border-radius: 2px;
  transform: rotate(90deg);
}

.message__del:hover,
.message__del:focus {
  opacity: 0.7;
}

.message__del:active {
  opacity: 0.5;
}

.message__date {
  margin-left: auto;

  color: gray;
}

.message__text {
  width: 100%;
}

.message__date {
  width: 100%;

  text-align: right;
}

.form {
  box-sizing: border-box;
  width: 100%;
  margin-top: 100px;
  padding: 30px;

  background-color: #cacaca;
  border-radius: 10px 10px 0 0;
}

.form label {
  display: block;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.form label:first-child {
  align-items: center;
}

.form__label {
  margin-right: 10px;
}

.form__input {
  box-sizing: border-box;
  width: 75%;
  margin-left: auto;
  padding: 10px;

  font-weight: bold;

  background-color: rgb(241, 241, 241);
  border: none;
  border-radius: 10px;
}

.form__textarea {
  box-sizing: border-box;
  width: 75%;
  height: 200px;
  margin-left: auto;
  padding: 10px;

  font-weight: bold;

  background-color: rgb(241, 241, 241);
  border: none;
  border-radius: 10px;

  resize: none;
}

.form__btns {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin-top: 20px;
  margin-left: auto;

  gap: 10px;
}

.form__btn {
  box-sizing: border-box;
  width: 50%;
  padding: 20px;

  font-weight: bold;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;

  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.form__btn--reset {
  background-color: tomato;
}

.form__btn:hover,
.form__btn:focus {
  opacity: 0.7;
}

.form__btn:active {
  opacity: 0.5;
}
